
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$split-pane-side-max-width: 12%;

$colors: (
  primary:    #1f52aa,
  high:       #3989ca,
  secondary:  #77b7eb,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


@import "ionic.theme.default";



@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";

//$toolbar-background: color($colors, primary);