.split-pane-side {
    border-right: 0px !important;
 }
 
 .menu-container {
    background-color: color($colors, secondary);
 }
 
 .transparent {
    background: transparent;
 }
 
 .list-item {
    color: #ffffffa6;
    margin-bottom: 10px;
    font-size: 2rem;
 }
 
 :hover.list-item {
    background: #472ea0;
 }
 
 .scroll-content{
    overflow: hidden;
    margin-right: -17px;
    overflow-y: scroll;
 }
 